@font-face {
  font-family: 'sportplay';
  src:
    url('fonts/sportplay.ttf?5p9frt') format('truetype'),
    url('fonts/sportplay.woff?5p9frt') format('woff'),
    url('fonts/sportplay.svg?5p9frt#sportplay') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fs {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sportplay' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.spicon-lucky-number:before {
  content: "\e93f";
}
.spicon-one:before {
  content: "\e93b";
}
.spicon-open-close:before {
  content: "\e93c";
}
.spicon-three:before {
  content: "\e93d";
}
.spicon-two:before {
  content: "\e93e";
}
.spicon-specials:before {
  content: "\e93a";
}
.spicon-formula-1:before {
  content: "\e939";
}
.spicon-amer-football:before {
  content: "\e900";
}
.spicon-aussie-rules:before {
  content: "\e901";
}
.spicon-badminton:before {
  content: "\e902";
}
.spicon-bandy:before {
  content: "\e903";
}
.spicon-baseball:before {
  content: "\e904";
}
.spicon-basketball:before {
  content: "\e905";
}
.spicon-beach-soccer:before {
  content: "\e906";
}
.spicon-beach-tennis:before {
  content: "\e907";
}
.spicon-beach-volley:before {
  content: "\e908";
}
.spicon-bowls:before {
  content: "\e909";
}
.spicon-boxing:before {
  content: "\e90a";
}
.spicon-canoeing:before {
  content: "\e90b";
}
.spicon-chess:before {
  content: "\e90c";
}
.spicon-combat-sports:before {
  content: "\e90d";
}
.spicon-cricket:before {
  content: "\e90e";
}
.spicon-curling:before {
  content: "\e90f";
}
.spicon-cycling:before {
  content: "\e910";
}
.spicon-darts:before {
  content: "\e911";
}
.spicon-diving:before {
  content: "\e912";
}
.spicon-e-sport:before {
  content: "\e913";
}
.spicon-field-hockey:before {
  content: "\e914";
}
.spicon-floorball:before {
  content: "\e915";
}
.spicon-futsal:before {
  content: "\e916";
}
.spicon-golf:before {
  content: "\e917";
}
.spicon-greyhound:before {
  content: "\e918";
}
.spicon-gymnastic:before {
  content: "\e919";
}
.spicon-handball:before {
  content: "\e91a";
}
.spicon-horse-racing:before {
  content: "\e91b";
}
.spicon-ice-hockey:before {
  content: "\e91c";
}
.spicon-inline-hockey:before {
  content: "\e91d";
}
.spicon-judo:before {
  content: "\e91e";
}
.spicon-lacrosse:before {
  content: "\e91f";
}
.spicon-mixed-martial-arts:before {
  content: "\e920";
}
.spicon-motor-sport:before {
  content: "\e921";
}
.spicon-netball:before {
  content: "\e922";
}
.spicon-olympics:before {
  content: "\e923";
}
.spicon-padel:before {
  content: "\e924";
}
.spicon-pool:before {
  content: "\e925";
}
.spicon-rink-hockey:before {
  content: "\e926";
}
.spicon-rowing:before {
  content: "\e927";
}
.spicon-rugby:before {
  content: "\e928";
}
.spicon-shooting:before {
  content: "\e929";
}
.spicon-snooker:before {
  content: "\e92a";
}
.spicon-football:before {
  content: "\e937";
}
.spicon-soccer:before {
  content: "\e92b";
}
.spicon-squash:before {
  content: "\e92c";
}
.spicon-streethockey:before {
  content: "\e92d";
}
.spicon-sumo:before {
  content: "\e92e";
}
.spicon-surfing:before {
  content: "\e92f";
}
.spicon-swimming:before {
  content: "\e930";
}
.spicon-table-tennis:before {
  content: "\e931";
}
.spicon-tennis:before {
  content: "\e932";
}
.spicon-volleyball:before {
  content: "\e933";
}
.spicon-waterpolo:before {
  content: "\e934";
}
.spicon-weightlifting:before {
  content: "\e935";
}
.spicon-winter-sports:before {
  content: "\e936";
}
.spicon-dice:before {
  content: "\e938";
}
.spicon-stopwatch:before {
  content: "\e952";
}
