<form class="feed-search">
  <section class="form-block">
    <!--label for="formFields_1"></label-->
    <input type="text" id="formFields_1"
           placeholder="Search" style="width: 100%"
           [(ngModel)]="searchStr" [ngModelOptions]="{standalone: true}"
    >
  </section>
</form>

<clr-tree-node
  class="app-tree-root"
  [(clrSelected)]="selected">
  <!--ROOT LEVEL:-->

  <ng-template [clrIfExpanded]="true">
    <clr-tree-node
      class="app-tree-provider"
      *ngFor="let provider of mockData | search:searchStr; let i = index"
      [(clrSelected)]="provider.selected">
      {{provider.name}}
      <div class="feed-status">
        <span class="feed-status--new"><span class="badge badge-success"></span> 99 new</span> /
        <span class="feed-status--selected"><span class="badge badge-info"></span> {{ getProviderSelectedItemsNumber(i) }} selected</span>
      </div>

      <!-- TREE NODE SPORT -->
      <ng-template [(clrIfExpanded)]="provider.expanded">
        <clr-tree-node
          class="app-tree-sport"
          *ngFor="let sport of provider.sport"
          [(clrSelected)]="sport.enable">
          <clr-icon shape="asterisk" class="is-solid"></clr-icon> {{sport.name}}

          <!-- TREE NODE LEAGUE -->
          <ng-template [(clrIfExpanded)]="sport.expanded">
            <clr-tree-node
              class="app-tree-league"
              *ngFor="let league of sport.league"
              [(clrSelected)]="league.enable">
              <clr-icon shape="asterisk" class="is-solid"></clr-icon> {{league.name}}

              <!-- TREE NODE GAME -->
              <ng-template [(clrIfExpanded)]="league.expanded">
                <clr-tree-node
                  class="app-tree-game"
                  *ngFor="let game of league.game"
                  [(clrSelected)]="game.enable">

                  <table class="table" [ngStyle]="{'color':game.enable === true ? 'green' : 'red'}">
                    <tbody>
                    <tr>
                      <td class="td-date"><clr-icon shape="asterisk" class="is-solid"></clr-icon> {{game.date}}</td>
                      <td class="td-time">{{game.time}}</td>
                      <td class="td-name">{{game.name}}</td>
                    </tr>
                    </tbody>
                  </table>

                </clr-tree-node>
              </ng-template>

            </clr-tree-node>
          </ng-template>

        </clr-tree-node>
      </ng-template>

    </clr-tree-node>
  </ng-template>

</clr-tree-node>
