<clr-header>
  <div class="branding">
    <a href="#" class="nav-link">
      <span class="clr-icon clr-clarity-logo"></span>
      <span class="title"></span>
    </a>
  </div>
  <div class="header-nav" [clr-nav-level]="1">
    <a class="nav-link nav-icon toggle-idenav" (click)="toggleSidenav()">
      <clr-icon shape="bars"></clr-icon>
    </a>
    <a class="nav-link"
       href="#" [routerLink]="['/feed']"
       routerLinkActive="active">
            <span class="nav-text">
              Feed Configuration
               <span class="badge">
                 {{ getAllProvidersSelectedItemsNumber() }}
               </span>
            </span>
    </a>
    <a class="nav-link"
       href="#"
       [routerLink]="['/bets']"
       routerLinkActive="active">
            <span class="nav-text">
              Bets List
              <span class="badge">0</span>
            </span>
    </a>
    <a class="nav-link"
       href="#"
       [routerLink]="['/risks']"
       routerLinkActive="active">
            <span class="nav-text">
              Risks
            </span>
    </a>
  </div>
  <div class="header-actions">
    <a href="/" class="nav-link nav-text">
      Joel Miller
    </a>
    <a href="/" class="nav-link nav-icon">
      <clr-icon shape="logout"></clr-icon>
    </a>
  </div>
</clr-header>
