<!--
  Risks
  -->
<div class="content-container">
  <div class="content-area">
    <!-- Page -->

    <p>
      risks works!
    </p>

    <!-- /Page -->
  </div>

  <!-- Sidebar -->
  <!--<nav class="sidenav" id="sidenav" *ngIf="router.url === '/feed'"></nav>-->
</div>
