<!--
  Feed Configuration
  -->
<div class="content-container">
  <div class="content-area">
    <!-- Page -->

    <div class="feed-top-line">

      <div>
        <div class="feed-filter">
          <button
            type="button"
            class="btn btn-icon"
            (click)="onFilterClick(sport)"
            [ngClass]="{'active': globals.filterSelectedSport == sport}"
            *ngFor="let sport of allProvidersSport">
            <clr-icon shape="asterisk" class="is-solid sport-icon"></clr-icon>
            {{ sport }}
            <span class="badge">69</span>
          </button>
        </div>
      </div>

      <div>
        <app-time></app-time>
      </div>

    </div>

    <!-- // -->

    <clr-datagrid
      class="datagrid-feed"
      [(clrDgSelected)]="selectedFromSelectedItems"
      [clDgRowSelection]="false">
      <clr-dg-column>Event Details</clr-dg-column>
      <clr-dg-column>Provider</clr-dg-column>
      <clr-dg-column>markets</clr-dg-column>
      <clr-dg-column
        style="display: none;"
        [clrDgField]="'sport_name'"
        [(clrFilterValue)]="globals.filterSelectedSport">
        Sport
      </clr-dg-column>
      <clr-dg-column>Bookmaker</clr-dg-column>

      <clr-dg-row *clrDgItems="let game of providerSelectedItems" [clrDgItem]="game">
        <clr-dg-cell class="cell-details">
          <table class="table-event-details">
            <tr>
              <td class="td-icon"><clr-icon shape="asterisk" class="is-solid"></clr-icon></td>
              <td class="td-date">{{game.date}}</td>
              <td class="td-time">{{game.time}}</td>
              <td class="td-league">
                <span>{{game.league_name}}</span>
              </td>
              <td class="td-name">
                <span>{{game.name}}</span>
              </td>
            </tr>
          </table>
        </clr-dg-cell>
        <clr-dg-cell class="cell-provider">{{game.provider_name}}</clr-dg-cell>
        <clr-dg-cell class="cell-markets">23</clr-dg-cell>
        <clr-dg-cell
          style="display: none;"
          class="cell-markets">
          {{game.sport_name}}
        </clr-dg-cell>
        <clr-dg-cell class="cell-bookmaker">
          <clr-icon shape="unlock" class="is-solid item-status"></clr-icon>
          <span class="lock-status">not assigned</span>
          <clr-icon
            shape="trash"
            class="is-solid item-delete"
            (click)="clickDelete(game.id)">
          </clr-icon>
        </clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>{{providerSelectedItems.length}} games</clr-dg-footer>
    </clr-datagrid>

    <p>Selected games: <span *ngFor="let game of selectedFromSelectedItems">{{ 'id: ' + game.id + ', ' }}</span></p>

    <div style="border: solid 2px darkgrey; padding: 15px; margin-top: 3rem;">
            <span *ngFor="let provider of mockData">
              <span *ngFor="let sport of provider.sport">
                <span *ngFor="let league of sport.league">
                  <span *ngFor="let game of league.game">
                    <span *ngIf="game.enable">{{game.name}}</span>
                  </span>
                </span>
              </span>
            </span>
    </div>

    <!-- /Page -->
  </div>

  <!-- Sidebar -->
  <nav class="sidenav" id="sidenav">
    <app-sidenav></app-sidenav>
  </nav>
</div>
