<clr-main-container id="main-container" ngClass="{{ this.globals.sideBar }}">

  <app-header [mockData]="mockData"></app-header>

  <!-- Page content -->
  <router-outlet></router-outlet>

</clr-main-container>
