<!-- Side navigation -->
<section class="sidenav-content">
  <div class="row">

    <div class="col-xs-6">
      <h5>Feed Configuration</h5>
    </div>

    <div class="col-xs-6">
      <div class="feed-status">
        <span class="feed-status--new"><span class="badge badge-success"></span> 99 new</span> /
        <span class="feed-status--selected"><span class="badge badge-info"></span> {{ getAllProvidersSelectedItemsNumber() }} selected</span>
      </div>
    </div>

    <div class="col-xs-12">
      <!-- SEARCH -->
      <!-- ROOT TREE NODE -->
      <app-tree [mockData]="mockData"></app-tree>
    </div>

  </div>
</section>
<!-- / Side navigation -->
