/**
 Global styles
 */

@import "fonts/sportplay/style.css";

.app-tree-root {

  .clr-treenode-content {

    table {

      margin: 0;
      border: none;
      background: transparent;

      td {

        padding: 0;
        text-align: left;


        &.td-date {
          width: 4.5rem;
        }

        &.td-time {
          width: 2rem;
        }

        &.td-name {}
      }
    }
  }

  > .clr-treenode-children {
    margin: 0;
  }

  > .clr-tree-node-content-container {
    display: none;
    border: solid 2px greenyellow;
  }
}

.app-tree-provider {
  > .clr-tree-node-content-container {
    padding-bottom: 15px;
    border-bottom: solid 1px #d6d6d6;
  }
}
.app-tree-provider + .app-tree-provider {
  > .clr-tree-node-content-container {
    margin-top: -1px;
    padding-top: 15px;
    border-top: solid 1px #d6d6d6;
  }
}

.app-tree-provider {

  > .clr-tree-node-content-container {

    > .clr-treenode-checkbox {
      display: none;
      border: solid 2px greenyellow;
    }

    > .clr-treenode-content {

      justify-content: space-between;
      font-size: 16px;
      font-weight: 500;
      color: #002538;

      .feed-status {

        font-size: 14px;
        color: #d6d6d6;

        .feed-status--new {
          color: #61a421;
        }

        .feed-status--selected {
          color: #007bba;
        }
      }
    }
  }
  > .clr-treenode-children {
    margin-left: 0;
  }
}

.clr-treenode-children {
  .app-tree-sport:first-child {
    > div:first-child {
      margin-top: .25rem;
    }
  }
  .app-tree-sport:last-child {
    > div:last-child {
      margin-bottom: .25rem;
    }
  }
}


.header {

  .clr-icon {
    &.clr-clarity-logo {
      //background-image: url(./images/lemc_logo.svg);
      background-image: url(./images/clarity_logo.svg);
      height: 38px;
      width: 3.5rem;
      margin-right: 0;
    }
  }

  background-color: #002538;

  .branding {

    max-width: 26rem;
    min-width: 13rem;
    width: 35%;

    .sidenav--hide & {
      max-width: 5.5rem;
      min-width: 5.5rem;
      width: 5.5rem;
    }

    .title {
      font-weight: 600;
    }
  }

  .header-nav {

    margin-left: -2.5rem;

    .sidenav--hide & {
      margin-left: 0;
    }

  }

  .badge {
    line-height: 2;
    border-radius: 2px;
    background-color: #d9e4ea;
    color: #264555;
  }
}

#sidenav {

  max-width: 26rem;
  min-width: 13rem;
  width: 35%;
  background-color: #ffffff;

  .sidenav--hide &.sidenav {
    max-width: 0 !important;
    min-width: 0 !important;
    width: 0 !important;
  }

  .sidenav-content {

    padding: 1rem 1rem 1rem 1rem;

    h5 {
      font-weight: 500;
      margin-top: 0;
      color: #002538;
    }
  }

  .feed-status {

    text-align: right;

    .badge {
      min-width: .41667rem;
      height: .41667rem;
      margin: 0;
      margin-top: -.08334rem;
    }
  }

  .feed-search {

    input[type=text] {

      height: 40px;
      padding-left: .5rem;
      padding-right: .5rem;
      border-radius: 3px;
      border: solid 1px #d6d6d6;
      background-color: #fafafa;
    }
  }
}

.datagrid-feed {

  .datagrid-row-master {

    color: #002538;

    .cell-details {}

    .cell-provider {}

    .cell-markets {}

    .cell-bookmaker {

      .lock-status {}

      .item-status {
        color: #646464;
      }

      .item-delete {
        float: right;
        cursor: pointer;
        color: #e72801;
      }
    }
  }
}

.table-event-details {

  td.td-icon {
    width: 1rem;
  }

  td.td-date {
    width: 3rem;
  }

  td.td-time {
    width: 1.75rem
  }

  td.td-league {
    min-width: 5rem;
    max-width: 5rem;
  }

  td.td-name {
  }
}

.feed-top-line {

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feed-filter {

  .btn {

    font-size: 12px;
    line-height: 30px;
    height: 30px;
    padding-left: .35rem;
    padding-right: .35rem;
    text-transform: none;
    border-radius: 3px;
    border-color: #264555;
    color: #264555;

    .sport-icon {

      width: 14px;
      height: 14px;
      color: #000000;
    }

    .badge {

      background-color: transparent;
      color: #007bba;
    }

    &.active,
    &:hover {

      background-color: #264555;
      color: #ffffff;

      .sport-icon,
      .badge {
        color: #ffffff;
      }
    }
  }
}

.app-time {

  font-size: 12px;
  font-weight: 500;
  padding-left: .5rem;
  border-left: solid 1px #7f919a;
  color: #002538;

  .app-time-now1 {

    display: inline-block;
    text-align: right;
    width: 3rem;
  }

  .app-time-now2 {
    display: inline-block;
    width: 2rem;
  }
}
